body{
    background: #f3f5f7;
}
.index_auto{
    max-width:1600px;
    margin:0 auto;
    background: #fff;
}
.slideContent{
    position: relative;
    min-width:1020px;
    max-width:1600px;
    height:480px;
    margin:41px auto 0;
}
.slideContent li{
    height:480px;
    opacity: 0;
    filter:alpha(opacity=0);
    position: absolute;
    left:0;
    right:0;
}
.slideContent li a{
    display: block;
    width:100%;
    height:100%;
}
.autoBox{
    width:1470px;
    margin:0 auto;
    position: relative;
}
.bannerTitleBox{
    position: absolute;
    background: url('/v2/images/app/www/index_new/title_bg.png') no-repeat;
    width:258px;
    height:390px;
    padding-top:14px;
    top:29px;
    right:0;
    text-align: center;
    z-index:2;
}
.slideTitle{
    display: inline-block;
    color:#fff;
    font-size:14px;
    width:230px;
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}
.slideTitle:hover{
    color:#fff;
}
.bannerTitleBox .active{
    color:#52e2c0;
}
.index_box_outer{
    border-bottom:4px solid #f3f5f7;
}
.index_box{
    width:1470px;
    margin:0 auto;
    position: relative;
}
.index_m .index_box{
    width:1220px;
}
.index_s .index_box{
    width:970px;
}
.titleBox{
    padding:34px 0 16px;
    overflow:hidden;
}
.titleBox h3{
    font-size:20px;
    color:#000;
    float:left;
    line-height: 20px;
    font-weight: bold;
}
.titleBox h3 > a{
    color:#000;
}
.titleBox h3 > a:hover{
    color:#000;
}
.titleBox .titleLink{
    float:left;
    margin-left:15px;
    overflow:hidden;
    margin-top:6px;
}
.titleBox .titleLink a{
    color:#666;
    font-size:14px;
    padding:0 13px;
    line-height: 14px;
    float:left;
    border-left:1px solid #e5e5e5;
}
.titleBox .titleLink a:hover{
    color:#52e2c0;
}
.titleBox ul{
    float:right;
}
.titleBox ul li{
    float:left;
    background:url('/v2/images/app/www/index_new/dash_border.png') 0 no-repeat;
    padding:0 19px;
}
.titleBox ul li:first-child{
    background:none;
}
.titleBox ul li:last-child{
    padding-right:0;
}
.titleBox ul li a{
    color:#666;
    font-size:14px;
    padding-bottom:16px;
    line-height: 20px;
}
.titleBox ul li a:hover{
    color:#52e2c0;
}
.titleBox ul li.cur a{
    color:#52e2c0;
    border-bottom:2px solid #52e2c0;
}
.titleBox .change{
    color:#a4a4a4;
    font-size:14px;
    float:right;
    background: url('/v2/images/app/www/index_new/change.png') 3px 3px no-repeat;
    padding-left:23px;
}
.titleBox .getMore{
    color:#a4a4a4;
    font-size:14px;
    float:right;
    padding-left:23px;
}
.titleBox .getMore:hover{
    color:#52e2c0;
}
.titleBox .change:hover{
    background: url('/v2/images/app/www/index_new/change_hover.png') no-repeat;
    color:#52e2c0;
}
.titleBox .moreLink{
    color:#a4a4a4;
    font-size:14px;
    float:right;
}
.titleBox .moreLink:hover{
    color:#52e2c0;
}
.line{
    height:2px;
    background: #f4f4f4;
    margin-top:-2px;
}
.contentBox{
    padding-top:17px;
    height:398px;
    overflow:hidden;
    position: relative;
}
.contentBox_row1{
    height:199px;
}
.contentBox ul{
    overflow:hidden;
}
.contentBox li{
    float:left;
    margin-left:30px;
    width:220px;
}
.contentBox li img{
    width:220px;
    height:124px;
    display:block;
}
.contentBox li h5{
    font-size:14px;
    line-height: 16px;
    margin:12px 12px 10px;
    width:196px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.contentBox li  h5.nosub{
    line-height: 25px;
    height: 52px;
    overflow: hidden;
    margin: 7px 12px 16px;
    text-overflow:inherit;
    white-space: inherit;
}
.contentBox li p{
    font-size:12px;
    line-height: 16px;
    margin:0 12px 21px;
    color:#a4a4a4;
    width:196px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.contentBox li:first-child{
    margin-left:0;
}
.contentBox li.li01{
    margin-left:0;
    width:470px;
}
.contentBox li.li01s{
    margin-left:0;
    width:470px;
    position:relative;
}
.contentBox li.li01s .official_info{
    position:absolute;
    width:100%;
    background: rgba(0,0,0,.6);
    color:white;
    bottom:0;
    left:0;
}
.contentBox li.li01s .official_info h5{
    font-size:16px;
    width:100%;
}
.contentBox li.li01s .official_info p{
    font-size:14px;
    color:white;
    width:100%;
}
.contentBox li.li01 img{
    width:470px;
    height:323px;
    display:block;
}
.contentBox li.li01s img{
    width:470px;
    
    height:376px;
    display:block;
}
.contentBox li.li01 h5{
    font-size:16px;
    line-height: 16px;
    margin:12px 12px 12px;
    width: 445px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contentBox li.li01 p{
    font-size:14px;
    line-height: 14px;
    margin:0 12px;
    width: 445px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contentBox li.marginLeft0{
    margin-left:0;
}
.contentBox li.li01:hover h5,
.contentBox li.li01:hover p{
    color:#52e2c0;
}
.contentBox .mv_one:hover h5,
.contentBox .mv_one:hover p{
    color:#52e2c0;
}
.contentBox .loading{
    background: url('/v2/images/app/www/index_new/loading.gif') no-repeat;
    width:48px;
    height:48px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-24px;
    margin-top:-24px;
    display:none;
}
.contentBox_row1 li:hover h5,
.contentBox_row1 li:hover p{
    color:#52e2c0;
}
.sliderBox{
    position: relative;
    overflow:hidden;
}
.sliderBox .slider{
    width:470px;
    height:378px;
    position: relative;
    overflow:hidden;
}
.sliderBox .sliderEle{
    float:left;
    position: relative;
    overflow: hidden;
    width:470px;
    margin-left:0;
}
.mv-prev,
.mv-prev:hover,
.mv-next,
.mv-next:hover{
    background: url('/v2/images/app/www/index_new/arrow.png');
    width:13px;
    height:25px;
    position: absolute;
    top:150px;
    cursor:pointer;
}
.mv-prev{
    left:10px;
}
.mv-prev:hover{
    background-position: 0 -25px;
}
.mv-next{
    right:10px;
    background-position: -13px 0;
}
.mv-next:hover{
    background-position: -13px -25px;
}
.contentBox ul.hotList li{
    display:none;
}
.turn_arrow{
    background: url('/v2/images/app/www/index_new/turn_arrow2.png') no-repeat;
    width:26px;
    height:115px;
    font-size:0;
    position: absolute;
    top:190px;
    display:none;
}
.index_box_turn:hover .turn_arrow{
    display:block;
}
.arrow_pre:hover{
    background-position: 1px 0;
}
.arrow_pre{
    left:-43px;
    background-position: -52px 0;
}
.arrow_next:hover{
    background-position: -23px 0;
}
.arrow_next{
    right:-43px;
    background-position: -78px 0;
}
.disabled{
    display:none;
}
.index_box_turn:hover .disabled{
    display:none;
}
.contentBox_playlist{
    height:294px;
}
.contentBox_playlist ul{
    height:270px;
    overflow:hidden;
}
.contentBox_playlist li{
    position: relative;
    cursor:pointer;
}
.contentBox_playlist li img{
    width:220px;
    height:220px;
}
.contentBox_playlist li h5{
    margin:11px 12px 8px;
}
.contentBox_playlist li p{
    margin:0 12px;
}
.contentBox_playlist li:hover .hoverBox{
    display: block;
}
.contentBox_playlist .hoverBox{
    position: absolute;
    top:0;
    left:0;
    width:470px;
    height:270px;
    background: #f3f5f7;
    z-index:1;
    overflow:hidden;
    display:none;
}
.contentBox_playlist li:last-child .hoverBox{
    right:0;
    left:inherit;
}
.hoverBox .img_box{
    float:left;
    width:270px;
    height:270px;
}
.hoverBox .img_box img{
    float:left;
    width:100%;
    height:100%;
}
.hoverBox .img_box_shadow{
    position: absolute;
    top:0;
    left:0;
    background: url('/v2/images/app/www/index_new/play_icon.png') no-repeat;
    background-size:100%;
    width:270px;
    height:270px;
}
.hoverBox .info_box{
    padding:0 22px;
    width:155px;
    float:right;
    border:1px solid #e5e5e5;
    border-left:0;
    height:268px;
}
.hoverBox .info_box .heightLimit{
    height: 145px;
    overflow: hidden;
}
.hoverBox .info_box h4{
    font-size:14px;
    font-weight:bold;
    padding:10px 0;
}
.hoverBox .info_box .des{
    font-size:12px;
    color:#a4a4a4;
    line-height: 23px;
    margin-top:-6px;
    display:block;
}
.hoverBox .user_box{
    overflow:hidden;
    margin-top:7px;
}
.hoverBox .user_box img{
    float:left;
    width:40px;
    height:40px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
}
.hoverBox .user_box .userName{
    font-size:14px;
    margin-left:50px;
    line-height: 40px;
    display:block;
}
.hoverBox .info_box .count{
    font-size:12px;
    color:#a4a4a4;
    margin-left:50px;
    display:block;
}
.hoverBox .info_box .count i{
    background: url('/v2/images/app/www/index_new/playcount.png') no-repeat;
    display:inline-block;
    width:13px;
    height:14px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 3px;
}
.hoverBox .info_box .tag{
    font-size:14px;
    margin-top:7px;
    display:block;
    height: 21px;
    width: 155px;
    overflow: hidden;
}
.hoverBox:hover h4,
.hoverBox:hover .userName,
.hoverBox:hover .tag{
    color:#000;
}
.contentBox_vchart ul,
.contentBox_program ul{
    height:378px;
    overflow:hidden;
}
.contentBox_vchart li h4.date_ch,
.contentBox_program li h4.date_ch{
    font-size:14px;
    line-height: 16px;
    font-weight: bold;
}
.contentBox_vchart li span.date_en,
.contentBox_program li span.date_en{
    color:#a4a4a4;
    display:block;
    margin-bottom:15px;
}
.contentBox_vchart li .vchart_item,
.contentBox_program li .program_item{
    border-top:1px solid #f4f4f4;
    cursor:pointer;
    height:73px;
}
.contentBox_vchart li .vchart_item_active,
.contentBox_vchart li .vchart_item01,
.contentBox_program li .program_item_active,
.contentBox_program li .program_item01{
    border-top:none;
    height:192px;
}
.contentBox_vchart li .vchart_item img,
.contentBox_program li .program_item img{
    height:120px;
    display:none;
}
.contentBox_vchart li .vchart_item img.imgShow,
.contentBox_program li .program_item img.imgShow{
    display:block;
}
.contentBox_vchart li h5,
.contentBox_program li h5{
    font-size:14px;
    line-height: 25px;
    margin:12px 12px 8px;
    max-height:50px;
    text-overflow: inherit;
    white-space: inherit;
}
.contentBox_vchart li .vchart_item_active img,
.contentBox_vchart li .vchart_item01 img,
.contentBox_program li .program_item01 img,
.contentBox_program li .program_item_active img{
    display:block;
}
.contentBox_vchart li .vchart_item_active h5,
.contentBox_program li .program_item_active h5{
    color:#52e2c0;
}
.contentBox ul.guessList li{
    display:none;
}
.loginTip{
    display:none;
    float: left;
    font-size: 14px;
    color: #666;
}
.posit_advertise {
    text-align: center;
}
.posit_advertise a {
    display: block;
    margin-top: 5px;
    margin-bottom: 40px;
}
.footer {
    margin-top: 4px;
}
.investigation{
    position: fixed;
    height: 250px;
    width: 200px;
    bottom: 45px;
    right: 0;
    background: url(http://img0.c.yinyuetai.com/others/crowd/170906/0/-M-b3674885b0806b3356106151086473ad_0x0.png) no-repeat;
    background-size: contain;
}
.investigation .pc-close{
    background: url(http://img4.c.yinyuetai.com/others/crowd/170906/0/-M-6fec5722031a62eafd1c4030653b19fc_0x0.png) no-repeat;
    width: 30px;
    height: 29px;
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 5px;
    cursor: pointer;
}
.investigation a{
    display: block;
    height: 100%;
    width: 100%;
}
.focus_bottom_banner {
    overflow: hidden;
    text-align: center;
    width:100%;
}
.focus_bottom_banner:after {
    display: block;
    content: '';
    clear: both;
}
.banner_container {
    margin: 10px auto;
    display: block;
    width:100%;
    position:relative
}
.banner_container img {
    display: block;
    margin: 0 auto;
    
    
    
    
    
    
}
    
    
    
    
    
    
