
.pa-screen {
    width: 1600px;
    height: 480px;
    position: absolute;
    background-color: #f00;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    
    background-color: #f00;
    z-index: 10; }
.pa-screen.transit {
    -webkit-transform: translate(-50%, 50px);
    -ms-transform: translate(-50%, 50px);
    transform: translate(-50%, 50px); }
.pa-screen .bs-logo {
    position: absolute;
    width: 54px;
    height: 53px;
    background: url("/v2/images/app/www/ad/bs_logo.png") no-repeat;
    background-size: 100% 100%;
    right: 50px;
    top: 36px; }
.pa-screen .ad-close {
    display: block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    font-size: 30px;
    color: #fff;
    right: 8px;
    top: 5px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    cursor: pointer; }
.pa-screen .ad-close:hover {
    color: #b40c0c; }
.pa-screen .left-bg {
    position: absolute;
    width: 594px;
    height: 450px;
    left: 92px;
    top: 0;
    background: url("/v2/images/app/www/ad/screen-left.png"); }
.pa-screen .date-cont {
    position: absolute;
    left: 178px;
    bottom: 28px; }
.pa-screen .date-cont span {
    float: left;
    display: block;
    width: 105px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #070746;
    font-size: 70px;
    color: #fff;
    font-family: "����";
    font-weight: 700; }
.pa-screen .date-cont b {
    float: left;
    display: block;
    width: 13px;
    height: 40px;
    background: url("/v2/images/app/www/ad/dot.png");
    margin-top: 22px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 70px;
    color: #fff; }