body {
  background-color: #fff;
}
.bigBanner {
  position: relative;
  margin-top: 28px;
  height: 480px;
  min-width: 1020px;
  max-width: 1600px;
}
.bigBanner ul {
  position: relative;
}
.bigBanner ul li {
  position: absolute;
  height: 480px;
}
.bigBanner ul li img {
  width: 100%;
}
.bigBanner .bannerTitle {
  position: absolute;
  right: 30px;
  top: 50px;
  width: 250px;
  height: 370px;
  text-align: right;
  z-index: 11;
  background: #000;
  opacity: 0.6;
  padding-top: 15px;
  padding-right: 15px;
}
.bigBanner .bannerTitle :first-child {
  color: #52e2c0;
}
.bigBanner .bannerTitle a {
  display: block;
  height: 35px;
  line-height: 35px;
  color: #fff;
}
.first-appear {
  padding-right: 20px;
  position: relative;
}
.first-appear .nav h3 {
  font-size: 20px;
  color: #000;
  float: left;
  font-weight: bold;
  padding: 10px 0 10px 20px;
}
.first-appear .nav .nav-title {
  float: right;
  padding-top: 20px;
}
.first-appear .nav .nav-title .nav-name {
  float: left;
  font-size: 14px;
}
.first-appear .nav .nav-title .nav-name a {
  padding-bottom: 10px;
}
.first-appear .nav .nav-title .nav-name a:hover {
  color: #52e2c0;
}
.first-appear .nav .nav-title .line {
  float: left;
  height: 14px;
  width: 0;
  margin: 0 16px;
  border-left: 3px dotted #ccc;
}
.first-appear .nav .hr {
  position: absolute;
  top: 48px;
  width: 1475px;
  margin: 0 20px;
  height: 3px;
  background: #eee;
  z-index: -1;
}
.first-appear .content-title {
  padding-top: 20px;
}
.first-appear .content-title a:hover {
  color: #52e2c0;
}
.first-appear .content-title .content-show1,
.first-appear .content-title .content-show2,
.first-appear .content-title .content-show3,
.first-appear .content-title .content-show4,
.first-appear .content-title .content-show5 {
  display: none;
}
.first-appear .content-title .content-show .list1,
.first-appear .content-title .content-show1 .list1,
.first-appear .content-title .content-show2 .list1,
.first-appear .content-title .content-show3 .list1,
.first-appear .content-title .content-show4 .list1,
.first-appear .content-title .content-show5 .list1 {
  float: left;
  width: 470px;
  height: 390px;
  overflow: hidden;
  padding-left: 20px;
}
.first-appear .content-title .content-show .list1 .prev,
.first-appear .content-title .content-show1 .list1 .prev,
.first-appear .content-title .content-show2 .list1 .prev,
.first-appear .content-title .content-show3 .list1 .prev,
.first-appear .content-title .content-show4 .list1 .prev,
.first-appear .content-title .content-show5 .list1 .prev {
  position: absolute;
  color: #eee;
  font-size: 50px;
  top: 200px;
  left: 16px;
  display: none;
  z-index: 910;
}
.first-appear .content-title .content-show .list1 .prev:hover,
.first-appear .content-title .content-show1 .list1 .prev:hover,
.first-appear .content-title .content-show2 .list1 .prev:hover,
.first-appear .content-title .content-show3 .list1 .prev:hover,
.first-appear .content-title .content-show4 .list1 .prev:hover,
.first-appear .content-title .content-show5 .list1 .prev:hover {
  color: #52e2c0;
  cursor: pointer;
}
.first-appear .content-title .content-show .list1 .next,
.first-appear .content-title .content-show1 .list1 .next,
.first-appear .content-title .content-show2 .list1 .next,
.first-appear .content-title .content-show3 .list1 .next,
.first-appear .content-title .content-show4 .list1 .next,
.first-appear .content-title .content-show5 .list1 .next {
  position: absolute;
  top: 200px;
  left: 458px;
  color: #eee;
  font-size: 50px;
  display: none;
  z-index: 910;
}
.first-appear .content-title .content-show .list1 .next:hover,
.first-appear .content-title .content-show1 .list1 .next:hover,
.first-appear .content-title .content-show2 .list1 .next:hover,
.first-appear .content-title .content-show3 .list1 .next:hover,
.first-appear .content-title .content-show4 .list1 .next:hover,
.first-appear .content-title .content-show5 .list1 .next:hover {
  color: #52e2c0;
  cursor: pointer;
}
.first-appear .content-title .content-show .list1 div,
.first-appear .content-title .content-show1 .list1 div,
.first-appear .content-title .content-show2 .list1 div,
.first-appear .content-title .content-show3 .list1 div,
.first-appear .content-title .content-show4 .list1 div,
.first-appear .content-title .content-show5 .list1 div {
  float: left;
}
.first-appear .content-title .content-show .list1 div img,
.first-appear .content-title .content-show1 .list1 div img,
.first-appear .content-title .content-show2 .list1 div img,
.first-appear .content-title .content-show3 .list1 div img,
.first-appear .content-title .content-show4 .list1 div img,
.first-appear .content-title .content-show5 .list1 div img {
  width: 470px;
  height: 323px;
}
.first-appear .content-title .content-show .list1 div h5,
.first-appear .content-title .content-show1 .list1 div h5,
.first-appear .content-title .content-show2 .list1 div h5,
.first-appear .content-title .content-show3 .list1 div h5,
.first-appear .content-title .content-show4 .list1 div h5,
.first-appear .content-title .content-show5 .list1 div h5 {
  font-size: 16px;
  margin: 10px 0;
}
.first-appear .content-title .content-show .list1 div p,
.first-appear .content-title .content-show1 .list1 div p,
.first-appear .content-title .content-show2 .list1 div p,
.first-appear .content-title .content-show3 .list1 div p,
.first-appear .content-title .content-show4 .list1 div p,
.first-appear .content-title .content-show5 .list1 div p {
  font-size: 14px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.first-appear .content-title .content-show .list1 div p:hover,
.first-appear .content-title .content-show1 .list1 div p:hover,
.first-appear .content-title .content-show2 .list1 div p:hover,
.first-appear .content-title .content-show3 .list1 div p:hover,
.first-appear .content-title .content-show4 .list1 div p:hover,
.first-appear .content-title .content-show5 .list1 div p:hover {
  color: #52e2c0;
}
.first-appear .content-title .content-show .list,
.first-appear .content-title .content-show1 .list,
.first-appear .content-title .content-show2 .list,
.first-appear .content-title .content-show3 .list,
.first-appear .content-title .content-show4 .list,
.first-appear .content-title .content-show5 .list {
  float: left;
  width: 220px;
  margin-left: 29px;
}
.first-appear .content-title .content-show .list img,
.first-appear .content-title .content-show1 .list img,
.first-appear .content-title .content-show2 .list img,
.first-appear .content-title .content-show3 .list img,
.first-appear .content-title .content-show4 .list img,
.first-appear .content-title .content-show5 .list img {
  width: 220px;
  height: 124px;
}
.first-appear .content-title .content-show .list h5,
.first-appear .content-title .content-show1 .list h5,
.first-appear .content-title .content-show2 .list h5,
.first-appear .content-title .content-show3 .list h5,
.first-appear .content-title .content-show4 .list h5,
.first-appear .content-title .content-show5 .list h5 {
  font-size: 14px;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.first-appear .content-title .content-show .list p,
.first-appear .content-title .content-show1 .list p,
.first-appear .content-title .content-show2 .list p,
.first-appear .content-title .content-show3 .list p,
.first-appear .content-title .content-show4 .list p,
.first-appear .content-title .content-show5 .list p {
  font-size: 12px;
  color: #999;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.first-appear .content-title .content-show .list p:hover,
.first-appear .content-title .content-show1 .list p:hover,
.first-appear .content-title .content-show2 .list p:hover,
.first-appear .content-title .content-show3 .list p:hover,
.first-appear .content-title .content-show4 .list p:hover,
.first-appear .content-title .content-show5 .list p:hover {
  color: #52e2c0;
}
.active {
  color: #52e2c0;
  border-bottom: 2px solid #52e2c0;
  padding-bottom: 8px;
}
.end {
  width: 100%;
  height: 5px;
  background: #eee;
  margin-bottom: 20px;
  margin-top: 10px;
}
.list {
  float: left;
  width: 220px;
  margin-left: 29px;
}
.list img {
  width: 220px;
  height: 124px;
}
.list h5 {
  font-size: 14px;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list p {
  font-size: 12px;
  color: #999;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list p:hover {
  color: #52e2c0;
}
.change,
.change2 {
  font-size: 16px;
  color: #a4a4a4;
  margin-top: 15px;
  padding-left: 25px;
  background: url(../img/change.png) 3px 3px no-repeat;
}
.live .content-title ul li .list div a h5 {
  font-size: 14px;
  margin: 10px 0;
  white-space: wrap;
}
.change1 {
  font-size: 16px;
  color: #a4a4a4;
  margin-top: 15px;
  padding-left: 25px;
}
.change1:hover {
  color: #52e2c0;
}
.rate rate1 {
  float: left;
}
.program li dl {
  width: 220px;
  margin-left: 31px;
}
.program li dl dt {
  margin-bottom: 10px;
}
.program li dl dt h5 {
  font-size: 14px;
  font-weight: 700;
}
.program li dl dt p {
  color: #aaa;
}
.program li dl dd {
  border-top: 1px solid #eee;
}
.program li dl dd img {
  width: 220px;
  height: 124px;
}
.program li dl dd h5 {
  font-size: 14px;
  line-height: 25px;
  margin: 12px 12px 8px;
  height: 50px;
  text-overflow: inherit;
  white-space: inherit;
}
.list2 {
  float: left;
  margin-left: 29px;
  position: relative;
}
.list2 .forBox {
  width: 220px;
}
.list2 .forBox img {
  width: 220px;
  height: 220px;
}
.list2 .forBox h5 {
  font-size: 14px;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.list2 .forBox p {
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.list2 .hideBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 470px;
  height: 270px;
  background: #f3f5f7;
  z-index: 1;
  overflow: hidden;
  display: none;
}
.list2 .hideBox a {
  color: #333;
  text-decoration: none;
}
.list2 .hideBox a .leftBox {
  float: left;
  width: 270px;
  height: 270px;
}
.list2 .hideBox a .leftBox img {
  float: left;
  width: 100%;
  height: 100%;
}
.list2 .hideBox a .leftBox .shadow {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/good/play_icon.png) no-repeat;
  background-size: 100%;
  width: 270px;
  height: 270px;
}
.list2 .hideBox a .rightBox {
  padding: 0 22px;
  width: 155px;
  float: right;
  border: 1px solid #e5e5e5;
  border-left: 0;
  height: 278px;
}
.list2 .hideBox a .rightBox .xiang1 {
  height: 145px;
  overflow: hidden;
}
.list2 .hideBox a .rightBox .xiang1 h4 {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
}
.list2 .hideBox a .rightBox .xiang1 .des {
  font-size: 12px;
  color: #a4a4a4;
  line-height: 23px;
  margin-top: -6px;
  display: block;
}
.list2 .hideBox a .rightBox .xiang2 {
  overflow: hidden;
  margin-top: 7px;
}
.list2 .hideBox a .rightBox .xiang2 img {
  float: left;
  width: 40px;
  height: 40px;
}
.list2 .hideBox a .rightBox .xiang2 span {
  font-size: 14px;
  margin-left: 50px;
  line-height: 40px;
  display: block;
}
.list2 .hideBox a .rightBox .xiang3 {
  font-size: 12px;
  color: #a4a4a4;
  margin-left: 50px;
  display: block;
}
.list2 .hideBox a .rightBox .xiang3 i {
  background: url(../img/good/playcount.png) no-repeat;
  display: inline-block;
  width: 13px;
  height: 14px;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
}
.list2 .hideBox a .rightBox .wa {
  font-size: 12px;
  color: #a4a4a4;
  margin-left: 50px;
  display: block;
}
.return_top {
  position: fixed;
  bottom: 0px;
  right: 10px;
  display: none;
}
