* {
  margin: 0;
  padding: 0;
}
body {
  background: #d3e9e5;
  font-size: 14px;
  font-family: '微软雅黑';
  line-height: 1;
  color: #000;
  
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666;
}
img,input {
  outline: none;
  border: none;
  vertical-align: middle;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.w{
  width: 1350px;
  margin: 0 auto;
}