* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	border: 0;
	vertical-align: middle;
}
input ,textarea {
	outline: none;
}
input {
	border: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
.wr {
	width: 1212px;
	margin:0 auto;
}
body {
	font: 12px "microsoft yahei";        /*字体初始*/
}
a {
	color: #fff;                     /*  链接颜色*/
}
a:hover {
	color: #c81623;                     /*鼠标悬停颜色*/
}
.fl {
	float: left;                         /*左浮动*/
}
.fr {
	float: right;                        /*右浮动*/
}
.clearfix:before, .clearfix:after {
	content: "";                         /*双元素清除浮动*/
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
em, i {
	font-style: normal;                   /*em  i 盒子字体正常化*/
}
.f12 {
	font-size: 12px;                          /*字体大小*/
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f18 {
	font-size: 18px;
}
.f20 {
	font-size: 20px;
}