.crowd-header {
  background-color: #fff;
  padding-top: 50px;
}
.crowd-header .item li {
  height: 80px;
  line-height: 80px;
  width: 64px;
  padding-right: 70px;
  font-size: 16px;
  float: left;
}
.crowd-header .item li a {
  color: #666;
}
.crowd-header .item li .active {
  color: #fd6f6e;
}
.crowd-header .item li a:hover {
  color: #fd6f6e;
}
.crowd-header .crowd-search {
  position: relative;
  height: 80px;
  padding-left: 80px;
  line-height: 80px;
}
.crowd-header .crowd-search input {
  width: 326px;
  height: 36px;
  border: 1px #000 solid;
  border-radius: 18px;
  padding: 0 20px;
  box-sizing: border-box;
}
.crowd-header .crowd-search .icon-search {
  position: absolute;
  width: 22px;
  height: 27px;
  top: 30px;
  left: 370px;
  background: url(../images/icon/topbar_sprite4.png) no-repeat -260px -23px;
}
.crowd-header .crowd-search .icon-search:hover {
  cursor: pointer;
}
.crowd-header .assignment {
  position: relative;
  height: 80px;
  line-height: 80px;
  padding-right: 53px;
}
.crowd-header .assignment .assignment-circle {
  position: absolute;
  width: 15px;
  height: 14px;
  background-color: #fd6f6e;
  border-radius: 50%;
  top: 23px;
  left: 24px;
}
.crowd-header .assignment .assignment-icon {
  position: absolute;
  width: 25px;
  height: 20px;
  background: url(../images/icon/crowdfundicon1.png) no-repeat -114px -2px;
  left: -27px;
  top: 30px;
}
.crowd-header .user {
  height: 80px;
  line-height: 80px;
  position: relative;
  padding-left: 60px;
}
.crowd-header .user span {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url(../images/icon/topbar_icon2.png) no-repeat -40px -5px;
  top: 27px;
  left: 30px;
}
.crowd-main {
  padding-top: 10px;
}
.crowd-main .w .banner {
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* 右侧按钮 */
  /* 一组小点按钮 */
  /* 兄弟选择器 除了第一个之后所有的兄弟有效 */
  /* 当前选中的项 */
}
.crowd-main .w .banner .btn {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 60px;
  height: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  font: bold 40px/50px '宋体';
  display: none;
}
.crowd-main .w .banner .next {
  right: 0;
}
.crowd-main .w .banner .controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
}
.crowd-main .w .banner .controls a {
  float: left;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #eee;
  font-size: 0;
  text-indent: -999em;
}
.crowd-main .w .banner .controls a + a {
  margin-left: 10px;
}
.crowd-main .w .banner .controls a.active {
  background: #999;
}
.crowd-main .w .banner:hover .btn {
  display: block;
}
.crowd-nav {
  padding-bottom: 100px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left {
  width: 860px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-nav-left-title {
  height: 38px;
  line-height: 38px;
  padding: 18px 0 14px 0;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-nav-left-title .music-bgc {
  width: 118px;
  height: 38px;
  background: url(../images/icon/pcicon9.png) no-repeat 0 -117px;
  top: 0;
  left: 0;
  padding-right: 80px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-nav-left-title .title li {
  float: left;
  padding: 0 12px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-nav-left-title .title li a {
  font-size: 16px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-nav-left-title .title li a:hover {
  text-decoration: underline;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-nav-left-title .title .active {
  color: #fd6f6e;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-nav-left-title .more a {
  font-size: 12px;
  color: #999;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-nav-left-title .more a:hover {
  color: #fd6f6e;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box {
  height: 667px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul {
  width: 888px;
  margin-left: -27px;
  margin-top: -27px;
  display: none;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li {
  width: 269px;
  height: 300px;
  margin: 27px 0 0 27px;
  background-color: #fff;
  float: left;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li h4 {
  width: 259px;
  height: 44px;
  padding-left: 10px;
  line-height: 44px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li h4 a {
  display: inline-block;
  width: 192px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li h4 .status {
  display: inline-block;
  width: 50px;
  height: 26px;
  border-radius: 13px 0 0 13px;
  color: white;
  line-height: 26px;
  padding-left: 10px;
  float: right;
  margin-top: 9px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li h4 .accomplish {
  background-color: #fdb16e;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li h4 .unAccomplish {
  background-color: #ccc;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li .big-img {
  display: inline-block;
  height: 170px;
  overflow: hidden;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li .big-img img {
  width: 100%;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li .list-title {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li .crowd-ing {
  height: 40px;
  padding: 0 12px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li .crowd-ing .ing-num {
  padding: 4px 0 8px 0;
  font-size: 12px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li .crowd-ing .ing-num i {
  margin-left: 10px;
  color: #fc6e6e;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li .crowd-ing .ing-bar {
  height: 8px;
  background-color: #eaeaea;
  border-radius: 8px;
  position: relative;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li .crowd-ing .ing-bar-now {
  position: absolute;
  display: inline-block;
  width: 68%;
  height: 8px;
  border-radius: 8px;
  background-color: #fc6e6e;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li .crowd-ing em {
  display: inline-block;
  width: 2px;
  height: 8px;
  position: absolute;
  background-color: #fff;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li .crowd-ing .divider-1 {
  left: 80px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul li .crowd-ing .divider-2 {
  left: 150px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul:nth-child(5) h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul:nth-child(5) h4 a {
  width: 249px;
}
.crowd-nav .crowd-nav-main .crowd-nav-left .crowd-box ul:nth-child(5) .big-img {
  height: 256px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right {
  width: 312px;
  height: 698px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-title {
  width: 87px;
  height: 38px;
  margin: 20px 0 16px 0;
  background: url(../images/icon/pcicon9.png) no-repeat -588px -234px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news {
  background-color: #fff;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news h4 {
  height: 40px;
  line-height: 40px;
  color: #000;
  text-align: center;
  font-weight: 700;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .crowd-nav-right-news-hot {
  width: 302px;
  height: 120px;
  margin: 0 5px;
  position: relative;
  overflow: hidden;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .crowd-nav-right-news-hot img {
  width: 100%;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .crowd-nav-right-news-hot span {
  padding: 0 5px;
  padding-top: 80PX;
  display: block;
  width: 302px;
  height: 32px;
  line-height: 32px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 15px;
  font-weight: 400;
  background: url(../images/index_play_bg.png) repeat-x;
  color: #fff;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .crowd-nav-right-news-hot span:hover {
  color: #fc6e6e;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .news {
  position: relative;
  width: 100%;
  margin: 0 auto;
  /* 兄弟选择器 除了第一个之后所有的兄弟有效 */
  /* 当前选中的项 */
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .news .crowd-nav-right-news-main {
  height: 465px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .news .crowd-nav-right-news-main ul li div {
  height: 29.6px;
  line-height: 29.6px;
  padding: 0 10px;
  width: 292px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .news .controls {
  position: absolute;
  bottom: 7px;
  left: 50%;
  margin-left: -16px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .news .controls a {
  float: left;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ddd;
  font-size: 0;
  text-indent: -999em;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .news .controls a + a {
  margin-left: 10px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .news .controls a.active {
  background: #999;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .crowd-nav-right-news-hot:hover,
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-news .news:hover {
  cursor: pointer;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form {
  height: 338px;
  background-color: #fff;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form h4 {
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form h4 span {
  font-weight: 700;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form h4 i {
  line-height: 14px;
  position: absolute;
  right: 40px;
  top: 12px;
  font-size: 12px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border: 1px #999 solid;
  cursor: pointer;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form h4 .rule {
  position: absolute;
  width: 260px;
  height: 168px;
  padding: 0 14px;
  border: 1px #666 solid;
  background-color: #fff;
  left: 10px;
  top: -170px;
  display: none;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form h4 .rule h3 {
  height: 49px;
  line-height: 49px;
  font-weight: 600;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form h4 .rule p {
  line-height: 24px;
  font-size: 12px;
  text-align: left;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form h4 .rule .tri {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 11px solid #000;
  bottom: -10px;
  right: 26px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form .crowd-nav-right-form-title {
  position: relative;
  width: 184px;
  height: 28px;
  line-height: 28px;
  margin: 0 65px;
  border-radius: 14px;
  background-color: #ddd;
  font-size: 12px;
  text-align: center;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form .crowd-nav-right-form-title .first {
  display: inline-block;
  width: 92px;
  height: 28px;
  z-index: 2;
  position: absolute;
  left: 0;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form .crowd-nav-right-form-title .two {
  display: inline-block;
  width: 92px;
  height: 28px;
  z-index: 2;
  position: absolute;
  right: 0;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form .crowd-nav-right-form-title .slide {
  display: block;
  position: absolute;
  width: 92px;
  height: 27px;
  background: #fff;
  z-index: 1;
  border-radius: 19px;
  left: 1px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form ul {
  display: none;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form ul li {
  height: 53px;
  line-height: 53px;
  position: relative;
  margin: 0 30px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form ul li span {
  width: 16px;
  height: 20px;
  position: absolute;
  left: -6px;
  top: 20px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form ul li .index-1 {
  background: url(../images/icon/pcicon9.png) no-repeat -802px -58px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form ul li .index-2 {
  background: url(../images/icon/pcicon9.png) no-repeat -802px -106px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form ul li .index-3 {
  background: url(../images/icon/pcicon9.png) no-repeat -802px -152px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form ul li .index-4 {
  background: url(../images/icon/pcicon9.png) no-repeat -802px -199px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form ul li .index-5 {
  background: url(../images/icon/pcicon9.png) no-repeat -802px -245px;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form ul li a img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #999;
  vertical-align: middle;
  margin-left: 30px;
  cursor: pointer;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form ul li a i {
  display: inline-block;
  width: 112px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 7px;
  vertical-align: middle;
}
.crowd-nav .crowd-nav-main .crowd-nav-right .crowd-nav-right-form ul li em {
  color: #fc6e6e;
  vertical-align: middle;
  font-size: 16px;
}
.crowd-nav .crowd-mv {
  width: 1201px;
}
.crowd-nav .crowd-mv .crowd-mv-title {
  height: 38px;
  padding: 18px 0 14px 0;
  position: relative;
}
.crowd-nav .crowd-mv .crowd-mv-title span {
  width: 143px;
  height: 38px;
  background: url(../images/icon/pcicon9.png) no-repeat -325px -236px;
  position: absolute;
  left: 0px;
  top: 18px;
}
.crowd-nav .crowd-mv .crowd-mv-main ul {
  margin-top: -28px;
  margin-left: -27px;
}
.crowd-nav .crowd-mv .crowd-mv-main ul li {
  float: left;
  height: 230px;
  width: 280px;
  margin-left: 27px;
  margin-top: 28px;
  background-color: #fff;
}
.crowd-nav .crowd-mv .crowd-mv-main ul li .mv-top {
  position: relative;
}
.crowd-nav .crowd-mv .crowd-mv-main ul li .mv-top img {
  width: 280px;
  height: 157px;
}
.crowd-nav .crowd-mv .crowd-mv-main ul li .mv-top .mv-play {
  display: none;
  position: absolute;
  width: 58px;
  height: 58px;
  background: url(../images/icon/ico_play_718.png) no-repeat -2px -1px;
  left: 50%;
  top: 50%;
  margin-left: -29px;
  margin-top: -29px;
}
.crowd-nav .crowd-mv .crowd-mv-main ul li .mv-top .mv-bg {
  width: 280px;
  height: 116px;
  background: url(../images/index_play_bg.png) repeat-x;
  position: absolute;
  bottom: -1px;
  z-index: 2;
}
.crowd-nav .crowd-mv .crowd-mv-main ul li .mv-top .mv-top-bottom {
  position: absolute;
  right: 20px;
  bottom: 12px;
  font-size: 12px;
  z-index: 3;
}
.crowd-nav .crowd-mv .crowd-mv-main ul li .mv-top .mv-top-bottom .mv-play-counts {
  display: inline-block;
  padding-left: 24px;
  margin-right: 5px;
  width: 36px;
  height: 20px;
  background: url(../images/icon/pcbf.png) no-repeat;
}
.crowd-nav .crowd-mv .crowd-mv-main ul li .mv-top .mv-top-bottom .mv-message {
  display: inline-block;
  padding-left: 22px;
  width: 20px;
  height: 20px;
  background: url(../images/icon/pcxx.png) no-repeat;
}
.crowd-nav .crowd-mv .crowd-mv-main ul li .mv-top .mv-top-bottom i {
  color: #ccc;
}
.crowd-nav .crowd-mv .crowd-mv-main ul .mv-top:hover .mv-play {
  display: block;
}
.crowd-nav .crowd-mv .crowd-mv-main ul .mv-bottom {
  width: 270px;
  height: 70px;
  padding-left: 10px;
}
.crowd-nav .crowd-mv .crowd-mv-main ul .mv-bottom .mv-introduce {
  padding: 10px 8px 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.crowd-nav .crowd-mv .crowd-mv-main ul .mv-bottom .mv-user {
  line-height: 30px;
}
.crowd-nav .crowd-mv .crowd-mv-main ul .mv-bottom .mv-user img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.crowd-nav .crowd-bottom h3 {
  position: relative;
  height: 38px;
  padding: 14px 0;
}
.crowd-nav .crowd-bottom h3 span {
  position: absolute;
  width: 86px;
  height: 42px;
  background: url(../images/icon/pcicon9.png) no-repeat 0 0;
  left: 0;
  top: 10px;
}
.crowd-nav .crowd-bottom .crowd-bottom-list ul {
  margin: 0 0 -24px -27px;
}
.crowd-nav .crowd-bottom .crowd-bottom-list ul li {
  float: left;
  width: 218px;
  height: 240px;
  background-color: #fff;
  margin: 0 0 24px 27px;
}
.crowd-nav .crowd-bottom .crowd-bottom-list ul li .list-img {
  display: block;
  width: 120px;
  height: 120px;
  margin: 20px 49px 0px 49px;
}
.crowd-nav .crowd-bottom .crowd-bottom-list ul li .list-img img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}
.crowd-nav .crowd-bottom .crowd-bottom-list ul li .bottom-list-title {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  width: 148px;
  padding: 0 35px;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.crowd-nav .crowd-bottom .crowd-bottom-list ul li .add-focus {
  display: block;
  width: 100%;
  height: 48px;
  position: relative;
  border-top: 1px #ccc dashed;
  cursor: pointer;
}
.crowd-nav .crowd-bottom .crowd-bottom-list ul li .add-focus i {
  position: absolute;
  width: 63px;
  height: 28px;
  background: url(../images/icon/pcicon9.png) no-repeat -630px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.back-top {
  position: fixed;
  bottom: -10px;
  right: 10px;
  width: 50px;
  height: 66px;
  background: url(../images/icon/returntop.png);
  cursor: pointer;
  display: none;
}
